.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color:transparent;
}
.color_rigth_top{
    color:#c8cbcc;
}
.bg_black{
    background-color:#000;
}
.bg_dark{
    background-color:#1b1b1b;
}
.font_left_top{
    font-size:1.3rem;
}
.font_0-8{
    font-size:0.8rem;
}
.font_1{
    font-size:1rem;
}
.font_1-2{
    font-size:1.2rem;
}
.color_white{
    color: #fff;
}
.color_black{
    color: #000;
}
.my_bg_r1{
    width:1rem;height:1.2rem;
    background:url(../img/icon-new.png);
    background-position:-150px 0px;
}
.my_bg_r2{
    width:1rem;height:1.2rem;
    background:url(../img/icon-new.png);
    background-position:-238px 3px;
}
.my_bg_r3{
    width:1rem;height:1.2rem;
    background:url(../img/icon-new.png);
    background-position:-265px 1px;
}
.my_bg_r4{
    width:1rem;height:1.2rem;
    background:url(../img/icon-new.png);
    background-position:-353px -1px;
}
.my_bg_r5{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-492px -305px;
}
.my_bg_r6{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-218px -343px;
}
.my_bg_r7{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-599px -343px;
}
.my_bg_r8{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-324px -341px;
}
.my_bg_r9{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-633px -419px;
}
.my_bg_r10{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-559px -344px;
}
.my_bg_r11{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-419px -683px;
}
.my_bg_r12{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-385px -686px;
}
.my_bg_r13{
    width:2.5rem;height:2.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-453px -686px;
}
.my_bg_r14{
    width:2.5rem;height:2.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-500px -686px;
}
.my_bg_r15{
    width:2.5rem;height:2.5rem;
    background:url(../img/icon-new.png);
    background-position:356px -26px;
}
.my_bg_r16{
    width:5rem;height:2rem;
    background:url(../img/icon@2x1.png);
    background-position:-594px -479px;
}
.my_bg_r17{
    width:8rem;height:2rem;
    background:url(../img/icon@2x1.png);
    background-position:-686px -479px;
}

.my_bg_r18{
    width:7rem;height:2rem;
    background:url(../img/icon@2x1.png);
    background-position:-465px -479px;
}
.my_bg_r19{
    width:7rem;height:2rem;
    background:url(../img/icon@2x1.png);
    background-position:-683px -518px;
}
.my_bg_r20{
    width:1.5rem;height:1.5rem;
    background:url(../img/icon@2x1.png);
    background-position:-383px -342px;
}
.my_bg_r21{
    width:1.2rem;height:1.2rem;
    background:url(../img/icon@2x1.png);
    background-position:-591px -380px;
}
.my_bg_r22{
    width:1.2rem;height:1.2rem;
    background:url(../img/icon@2x1.png);
    background-position:-552px -380px;
}



@media (max-width: 767.98px) {
    .d_sm_none{
        display: none;
}
}


.a_hover:hover{
    text-decoration:none;
    color:#c8cbcc;
}
.nav-link:hover, .nav-link:focus{
    color:#c8cbcc;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.input_outline_0{
    outline:0;
}
.w-90 {
    width: 90% !important;
}
/*顶部图片提示框叉叉*/
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1rem 1.5rem;
    color: inherit;
}
/*hover导航栏sm none 下面的 a标签 字体样式*/
#c1 a:hover{
    color:#000;
}
#c1 a{
    color:#000;
    font-size:0.8rem;
}
#c2 a:hover{
    color:#000;
}
#c2 a{
    text-decoration:underline;
    color:#000;
    font-size:1rem;
}
#d1 a:hover{
    color:#000;
    text-decoration: none;
}
#d1 a{
    color:#000;
    font-size:0.8rem;
}
#d2 a:hover{
    color:#000;
}
#d2 a{
    color:#000;
    font-size:0.8rem;
}
#e1 a:hover{
    text-decoration: none;
}
#e1 a{
    color:#d0d0cf;
    font-size:0.8rem;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}
#f1 a:hover{
    text-decoration: none;
}
#f1 a{
    color:#fff;
    font-size:1rem;
}
#f1 a:hover{
    text-decoration: none;
}
#f1 a{
    color:#d0d0cf;
    font-size:0.8rem;
}


.btn{
    border-radius: 0;
    border: none;
    background-color: #000;
    color: #fff;
}
.btn:hover{
    border-radius: 0;
    border: none;
    color:#aaa;
    background-color: #000;
}
.r1{
    position: absolute;
    left: 50%;
    top:50%;
}
.r1 div{
    position: absolute;
    width:100%;height:100%;
    left:1px;top:1px;
    border:1px solid red;


}
.btn_a1{
    display:inline-block;
    padding: 0rem 0.75rem;
    background-color:red;
    line-height:2.7rem;;
    text-align:center;
    color:#fff;
    font-size:1.2rem;
    cursor:pointer;
    text-decoration:none;
}
.btn_a1:hover{
    text-decoration:none;
    color:#aaa;
}




